html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.panel {
    width: 50%;
    float: left;
    text-align: center;
    height: 100%;
}

.panel > div {
    margin-top: calc(50vh - 17.5vw);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    transition: 200ms linear all;
    border-radius: 10px;
    font-size: 35vw;
    cursor: pointer;
}

.panel > div > img {
    width: 100%;
    height: 100%;
}

.panel > div:hover {
    transform: scale(1.02);
    background-color: #ecf0f1;
}

.input-inner-container {
  width: 49%;
}

h1 {
    text-align: center;
}

form {
    height: auto;
    width: 400px;
    display: block;
    margin: 50px auto;
}

form > div {
  display: flex;
  justify-content: space-between;
}

form > textarea {
    width: 400px;
    height: 100px;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: black;
}

#description {
    overflow: hidden;
    height: 0px;
    transition: 250ms linear all;
}

#descr-button {
    overflow: hidden;
    transition: 100ms linear opacity;
}
